/* HEADER */

header img {
  max-height: 60px;
  margin: 1rem 0;
}

/* MAIN */

.bg-main {
  background-color: #28304b;
}

.my-card {
  height: 400px;
}

/* UTILITY */

.bg-card {
  background-color: #121623;
}
